<fieldset>
  <legend>
    Signup Here
  </legend>
  <table>
    <tr>
      <td> userName</td>
      <td>
        <input type="text" [(ngModel)]="userName" />
      </td>
    </tr>
    <tr>
      <td> password</td>
      <td>
        <input type="password" [(ngModel)]="password" />
      </td>
    </tr>
    <tr>
      <td> Email</td>
      <td>
        <input type="email" [(ngModel)]="email" />
      </td>
    </tr>
    <tr>
      <td> <input type="button" value="signup" (click)="signup()"/> </td>
      <td>
        <input type="button" value="reset" (click)="clear()"/>
      </td>
    </tr>
<tr>
  <td>ErrorMessage</td>
  <td>{{errorMessage}}</td>
</tr>
  </table>

</fieldset>

