<h3>createElement(), createText(), appendChild()</h3>
<ul cp1>
  <li>Click here to add li</li>
</ul>

<h3>insertBefore()</h3>
<div>
  <div cp2>Click</div>
</div>

<h3>removeChild()</h3>
<div cp3>Mouse Over</div>

<h3>selectRootElement()</h3>
<div cp4>click</div>
<div class="myclass"></div>

<h3>setAttribute() and removeAttribute()</h3>
<div>
 Mouse Over on Input Box<br/><br/>
 <input type="text" cp5/>
</div>

<h3>setProperty()</h3>
<div cp6>--- Click Here --- </div>

<br/>Note: Id will be added to div tag

<h3>addClass() and removeClass()</h3>
Mouse Over on below word<br/><br/>
<div cp7>--- Namaste! --- </div>

<h3>setStyle() and removeStyle()</h3>
<div cp8> Toggle </div>

<h3>parentNode()</h3>
<div>
  <div>Namaste!!</div>
  <div cp9> --- Click Here --- </div>
</div>

<h3>createComment()</h3>
<div cp10> --- Click Here --- </div>

<h3>listen()</h3>
<div cp11> --- Click Here --- </div>

